:root {
    --primary-color: #1E3A4C;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 40px;
}

header {
    padding: 24px;
    text-align: center;
    background-color: var(--primary-color);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    text-align: center;
}

footer a {
    color: inherit;
}

main {
    padding: 32px 16px;
    text-align: center;
}

.logo {
    font-family: 'Bungee Inline', cursive;
    font-size: 32px;
    color: #fff;
}

.message {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0 0 32px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: var(--primary-color);
}

.cell {
    display: inline-grid;
    place-content: center;
    background-color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 64px;
    color: #000;
    transition: all 200ms;
}

.cell:hover {
    background-color: #eee;
}

.reset {
    margin-top: 32px;
    padding: 16px;
    background-color: #fff;
    border: solid 2px var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    transition: all 200ms;
}

.reset:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}